
.spyproject/config/codestyle.ini

.spyproject/config/defaults/defaults-codestyle-0.2.0.ini

.spyproject/config/defaults/defaults-encoding-0.2.0.ini

.spyproject/config/defaults/defaults-vcs-0.2.0.ini

.spyproject/config/defaults/defaults-workspace-0.2.0.ini

.spyproject/config/encoding.ini

.spyproject/config/vcs.ini

.spyproject/config/workspace.ini

.spyproject/config/backups/codestyle.ini.bak

.spyproject/config/backups/encoding.ini.bak

.spyproject/config/backups/vcs.ini.bak

.spyproject/config/backups/workspace.ini.bak

alpaca.dist/_brotli.so

alpaca.dist/_bz2.so

alpaca.dist/_cffi_backend.so

alpaca.dist/_codecs_cn.so

alpaca.dist/_codecs_hk.so

alpaca.dist/_codecs_iso2022.so

alpaca.dist/_codecs_jp.so

alpaca.dist/_codecs_kr.so

alpaca.dist/_codecs_tw.so

alpaca.dist/_ctypes.so

alpaca.dist/_decimal.so

alpaca.dist/_hashlib.so

alpaca.dist/_hmac.so

alpaca.dist/_lzma.so

alpaca.dist/_multibytecodec.so

alpaca.dist/_queue.so

alpaca.dist/_ssl.so

alpaca.dist/_tkinter.so

alpaca.dist/_zstd.so

alpaca.dist/alpaca.bin

alpaca.dist/bcrypt/_bcrypt.so

alpaca.dist/cryptography/hazmat/bindings/_rust.so

alpaca.dist/libbrotlicommon.so.1

alpaca.dist/libbrotlidec.so.1

alpaca.dist/libbz2.so.1.0

alpaca.dist/libcrypto.so.3

alpaca.dist/libexpat.so.1

alpaca.dist/libffi.so.8

alpaca.dist/libfontconfig.so.1

alpaca.dist/libfreetype.so.6

alpaca.dist/liblzma.so.5

alpaca.dist/libpng16.so.16

alpaca.dist/libpython3.14.so.1.0

alpaca.dist/libssl.so.3

alpaca.dist/libtcl8.6.so

alpaca.dist/libtk8.6.so

alpaca.dist/libX11.so.6

alpaca.dist/libXau.so.6

alpaca.dist/libxcb.so.1

alpaca.dist/libXdmcp.so.6

alpaca.dist/libXext.so.6

alpaca.dist/libXft.so.2

alpaca.dist/libXrender.so.1

alpaca.dist/libXss.so.1

alpaca.dist/libzstd.so.1

alpaca.dist/PyQt5/Qt/.keep_dir.txt

alpaca.dist/PyQt5/Qt5/.keep_dir.txt

alpaca.dist/PyQt5/QtCore.so

alpaca.dist/PyQt5/QtGui.so

alpaca.dist/PyQt5/QtWidgets.so

alpaca.dist/PyQt5/sip.so
